[Unit]
Description=PostgreSQL SQL/MED Datalink file system
After=postgresql.service

[Service]
User=root
WorkingDirectory=/var/lib/postgresql
ExecStart=pg_dlfuse -f -o allow_other /dlfs
Restart=always

[Install]
WantedBy=multi-user.target
